body {
	/*background-color:red;*/
	color:blue;
}
#main{
    margin:0 auto;
    width:900px;
    background: pink;
    min-height: 60px;
    box-shadow:1px 10px 15px 1px rgba(0,0,0,.5);
}
.shadow ul li{
    width:100%;
    height:30px;
    list-style: none;
    background-color :#fff;
    padding-top:20px;
    margin-top: 20px;
}
.shadow ul li:first-child{
    color:red;
    box-shadow:5px 5px rgba(255,233,211,.6);
    -webkit-box-shadow: 5px 5px rgba(255,233,211,.6);
}
.shadow ul .outset{
    color :#009926;
    -webkit-box-shadow: 5px 5px 10px red;
    box-shadow: 5px 5px 10px blue;

}
.shadow ul .outset-extension{
    box-shadow: 5px 5px 5px 10px red;
    -webkit-box-shadow : 5px 5px 10px red;
    
}
.shadow ul li:last-child{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 3px 3px red inset;
}
.layout{
    width:100%;
    height:auto;
    box-shadow: 5px 6px 10px #ccc;
}
.layout div{
    height:20px;
    background:#dddddd;
    margin-top:10px;
}
.layout .visibility{
    visibility:visible;
}
.layout .clip{
    color:peachpuff;
    clip:rect(1px auto 10px 5px);
}
.layout .overflow{
    height:40px;
    /*overflow:auto;*/

    overflow-x: hidden;
    overflow-y:hidden;
}





